*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
border: green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline {
	background-color: #43484c;
	padding: 15px 0;
	color: #ffffff;
}
.header_topline a {
	color: #ffffff;
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}
.soc_buttons a {
	font-size: 26px;
	margin-left: 8px;
}
.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}
.main_mnu_button {
	color: #ffffff;
	padding: 8px 15px 0;
}
.logo {
	display: block;
	padding: 15px 0;
	color: #ffffff;
	font-family: "NautilusPompiliusRegular";
	font-size: 42px;
	text-align: center;
}
.top_header {
	background-color: #4AAAD2;
}
.maian_mnu {
	background-color: #3797bf;
	color: #ffffff;
	margin-bottom: 20px;
}

.maian_mnu a {
	color: #ffffff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.maian_mnu a:hover {
	background-color: #2787af;
}
.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
}
.top_contacts {
	background-color: #2787af;
	float: right;
	font-size: 32px;
	padding: 0 15px;
	line-height: 53px;
}
.maian_mnu ul li {
	display: inline-block;
}
.maian_mnu ul {
	z-index: 12;
}
h1 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
}
.sider_container img {
	max-width: 100%;
}
.sider_container {
	position: relative;
}
.next_button, .prev_button {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10em;
	color: #ffffff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order {
	background-color: #eeeeee;
	padding: 25px 0;
}
.sell_descr {
	font-size: 22px;
}
.button {
	background-color: #2bc6a4;
	border: medium none;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right  .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type=text] {
	display: block;
	line-height: 24px;
	margin: 0 auto 12px;
	width: 90%;
	border: #999 3px solid;
}
.pop_form  .button {
	margin: 20px auto 0;
}
.pop_form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: "RobotoCondensedBold";
	text-transform: uppercase;
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #eeeeee;
	margin-top: 30px;
}